<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Student</title>
</head>
<body>
<h1>Add Student</h1>
<form th:action="@{/students}" th:object="${student}" method="post">
    Name: <input type="text" th:field="*{name}" /><br/><br/>

    Class:
    <select th:field="*{classroom.id}">
        <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.name}"></option>
    </select><br/><br/>

    <button type="submit">Save</button>
</form>
<a th:href="@{/students}">Back to list</a>
</body>
</html>
